<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>开始使用layui</title>
    <link rel="stylesheet" href="/js/layui/css/layui.css">
</head>
<body>

<div class="layui-container">
    常规布局（以中型屏幕桌面为例）：
    <div class="layui-row layui-col-space20">
        <div class="layui-col-md9 ">
            <div class="layui-bg-black">你的内容 9/12</div>
        </div>
        <div class="layui-col-md3 ">
            <div class="layui-bg-green">你的内容 3/12</div>
        </div>
    </div>

    移动设备、平板、桌面端的不同表现：
    <div class="layui-row layui-col-space10">
        <div class="layui-col-xs6 layui-col-md4 ">
           <div class="layui-bg-green layui-anim layui-anim-upbit">
               <i class="layui-icon layui-icon-praise"></i>
               移动：6/12 | 桌面：4/12
           </div>
        </div>
        <div class="layui-col-xs6  layui-col-md4 ">
            <div class="layui-bg-green layui-anim layui-anim-upbit">移动：6/12 | 桌面：4/12</div>
        </div>
        <div class="layui-col-xs4  layui-col-md4 ">
            <div class="layui-bg-green layui-anim layui-anim-upbit">移动：4/12 | 桌面：4/12</div>
        </div>
        <div class="layui-col-xs4  layui-col-md8 ">
            <div class="layui-bg-green layui-anim layui-anim-upbit">移动：4/12 | 桌面：8/12</div>
        </div>
        <div class="layui-col-xs4  layui-col-md4 ">
            <div class="layui-bg-green layui-anim layui-anim-upbit">移动：4/12 | 桌面：4/12</div>
        </div>
    </div>
    <div class="layui-row layui-col-md-offset4">
        <div class="layui-col-xs4  layui-col-md4 ">
            <button type="button" class="layui-btn">假装我是个登录按钮</button>
        </div>
    </div>
</div>

<script src="/js/layui/layui.js"></script>
<script src="/js/business/talkPage.js"></script>
</body>
</html>