<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/business/talkPage.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script type="text/javascript" src="/js/business/talk.js"></script>
    <link rel="stylesheet" href="/js/layui/css/layui.css">
</head>
<body>
<div class="layui-container">
    <input id="userId" th:value="${userId}" readonly="readonly" type="hidden">
    <div class="layui-row layui-bg-gray">
        <ul class="layui-nav">
            <!--            <li class="layui-nav-item">-->
            <!--                <a href="">控制台<span class="layui-badge">9</span></a>-->
            <!--            </li>-->
            <li class="layui-nav-item ">
                <a href="">个人中心<span class="layui-badge-dot"></span></a>
            </li>
            <li class="layui-nav-item ">
                <button id="createSession" onclick="openSocket()">let's talk!</button>
            </li>
            <li class="layui-nav-item " style="position: absolute ;right: 20px">
                <a href="" th:text="${userId}"></a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">修改信息</a></dd>
                    <dd><a href="javascript:;">安全管理</a></dd>
                    <dd><a href="javascript:;">退了</a></dd>
                </dl>
            </li>
        </ul>
    </div>
    <div style="padding: 20px; background-color: #F2F2F2">
        <div class="layui-row layui-col-space10 layui-bg-gray">
            <div class='layui-col-xs4 layui-col-md4'>
                <div class="layui-card">
                    <div class="layui-card-header">当前在线:</div>
                    <div class="layui-card-body">
                        <!--                        <div id="login">-->
                        <!--                            <b>对方id:</b>-->
                        <!--                            <input id="toUserId" value="222">-->
                        <!--                            <p/>-->
                        <!--                            <button id="createSession" onclick="openSocket()">let's talk!</button>-->
                        <!--                            <div id="status"></div>-->
                        <!--                        </div>-->
                        <div>
                            <table>
                                <tr th:each="user:${usernameList}">
                                    <td class="layui-card-body"th:text="${user}"></td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs8  layui-col-md8">
                <div class="layui-card">
                    <div class="layui-card-header">聊天框:</div>
                    <div class="layui-card-body">
                        <div class="talk_con">
                            <div class="talk_show" id="words">
                                <div class="atalk"><span id="asay">A说：吃饭了吗？</span></div>
                                <div class="btalk"><span id="bsay">B说：还没呢，你呢？</span></div>
                            </div>
                            <div class="talk_input">
                                <!--        <select class="whotalk" id="who">-->
                                <!--            <option value="0">A说：</option>-->
                                <!--            <option value="1">B说：</option>-->
                                <!--        </select>-->
                                <div>
                                    <span id="who" value="0">当前用户:未登录</span>
                                </div>
                                <input type="text" class="talk_word" id="talkwords">
                                <input type="button" value="发送" class="talk_sub" id="talksub">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/js/layui/layui.js"></script>
<script>
    layui.use("element", function () {
        var element = layui.element;
    })
</script>
</body>
</html>