<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.noah.demo.dao.UserDao">
    <select id="getById" resultType="com.noah.demo.domain.UserDO">
        SELECT * FROM USER WHERE id = #{value}
    </select>

    <insert id="save">
        insert into user
        (
        name,
        age
        )
         values
        (
        #{name},
        #{age}
        )
    </insert>
</mapper>